
    <div class="item">
      <div>Avatar URL</div>
      <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{teacher.avatar_url}}">
      </div>
    </div>

    <div class="item">
      <div>Nome completo</div>
      <div>
        <input type="text" name="name" placeholder="Nome completo" value="{{teacher.name}}">
      </div>
    </div>

    <div class="item">
      <div>Data de nascimento</div>
      <div>
        <input type="date" name="birth" value="{{teacher.birth}}">
      </div>
    </div>

    <div class="item">
      <div>Grau de escolaridade</div>
      <div>
        <select name="degree">
          <option value="high-school"
          {% if teacher.degree == 'high-school'%}
          selected
          {% endif %}>Ensino Médio Completo</option>
          <option value="bachelor"
          {% if teacher.degree == 'bachelor'%}
          selected
          {% endif %}>Superior Completo</option>
          <option value="master"
          {% if teacher.degree == 'master'%}
          selected
          {% endif %}>Mestrado</option>
          <option value="doctorate"
          {% if teacher.degree == 'doctorate'%}
          selected
          {% endif %}>Doutorado</option>
        </select>
      </div>
    </div>

    <div class="item">
      <div>Tipo de aula</div>
      <div>
        <span><input type="radio" name="classType" value="P"
        {% if teacher.classType == 'P'%}
          checked
        {% endif %}>Presencial</span>
        <span><input type="radio" name="classType" value="D"
        {% if teacher.classType == 'D'%}
          checked
        {% endif %}>À Distância</span>
      </div>
    </div>

    <div class="item">
      <div>Área de atuação</div>
      <div>
        <input type="text" name="services" placeholder="Separe os serviços prestados por vírgula" value="{{teacher.services}}">
      </div>
    </div>

    
  

