{% extends "layout.njk" %}

{% block head %}
  <title>Cursos - RocketSeat</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

  {% block content %}
  
  <div id="container">
    <h1 id="courses">{{course.title}}</h1>
  </div>

  <section class="cards">
    
    <div class="card" id="{{course.id}}">
      <div class="card-img-container">
        <img
          src="{{course.image}}"
          alt="{{course.title}}"
        />
      </div>
      <div class="card-content">        
        <p id="modules">{{course.modules}}</p>
        <p class="price starter">{{course.price}}</p>
      </div>        
    </div>
  </section>
 

  <script src="script.js"></script>
  {% endblock %}