
    <div class="item">
      <div>Avatar URL</div>
      <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{student.avatar_url}}">
      </div>
    </div>

    <div class="item">
      <div>Nome completo</div>
      <div>
        <input type="text" name="name" placeholder="Nome completo" value="{{student.name}}">
      </div>
    </div>

    <div class="item">
      <div>Email</div>
      <div>
        <input type="email" name="email" placeholder="nome@site.com" value="{{student.email}}">
      </div>
    </div>

    <div class="item">
      <div>Data de nascimento</div>
      <div>
        <input type="date" name="birth" value="{{student.birth}}">
      </div>
    </div>

    <div class="item">
      <div>Ano Escolar</div>
      <div>
        <select name="grade">
          <option value="5"
          {% if student.grade == "5" %} selected {% endif %}>5º ano do fundamental</option>
          <option value="6"
          {% if student.grade == "6" %} selected {% endif %}>6º ano do fundamental</option>
          <option value="7"
          {% if student.grade == "7" %} selected {% endif %}>7º ano do fundamental</option>
          <option value="8"
          {% if student.grade == "8" %} selected {% endif %}>8º ano do fundamental</option>
          <option value="9"
          {% if student.grade == "9" %} selected {% endif %}>9º ano do fundamental</option>
          <option value="1"
          {% if student.grade == "1" %} selected {% endif %}>1º ano do ensino médio</option>
          <option value="2"
          {% if student.grade == "2" %} selected {% endif %}>2º ano do ensino médio</option>
          <option value="3"
          {% if student.grade == "3" %} selected {% endif %}>3º ano do ensino médio</option>
        </select>
      </div>

      <div class="item">
      <div>Carga Horária</div>
      <div>
        <input type="number" name="hours" value="{{student.hours}}">
      </div>
    </div>
    

    

    



